// COLORS
$color-primary: #606e6a;
$color-primary-light: #adcfa7;

$color-secondary: #ff7730;
$color-secondary-light: #ffb900;

$color-tertiary: #5643fa;
$color-tertiary-light: #2998ff;

$color-grey-dark: #777;
$color-grey-light: #f7f7f7;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;

// BORDER
$default-border-radius: 4px;

// SHADOW

$box-shadow-small: 0 1rem 2rem rgba($color-black, 0.2);
$box-shadow-medium: 0 1.5rem 4rem rgba($color-black, 0.4);
$box-shadow-large: 0 2.5rem 4rem rgba($color-black, 0.5);
