.header {
  height: 85vh;
  background: linear-gradient(
    to right bottom,
    rgba($color-primary, 0.7),
    rgba($color-primary-light, 0.9)
  );
  position: relative;
  border-radius: 4px;

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    (min-width: 125em) {
    background: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.7),
      rgba($color-primary-light, 0.9)
    );
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
