.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: $box-shadow-medium;
    border-radius: $default-border-radius;
    position: absolute;

    &--p1 {
      left: 0;
      top: 10rem;

      @include respond(tab-port) {
        top: 0;
      }
    }

    &--p2 {
      right: 0;
      top: 12rem;

      @include respond(tab-port) {
        top: 3rem;
      }
    }
  }
}
